{% extends 'base.html' %}

{% block content %}

    <h1> <p style="text-align:center;color: aliceblue">A BIT ABOUT US</p> </h1>

<div class="text-center">
  <img src=/static/images/about.png class="rounded" alt="...">
</div>

<h3><p style="color: aliceblue">This website is here to provide you with all the necessary tips which will help you improve your skills. Starting from wave management to advice about how to win your lane and absolutely demolish your foes!</p></h3>

<a class="btn btn-primary" href="/help" role="button">Any question?</a>


<p style="margin-left:40em">ㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤ</p>

{% endblock %}