{% extends 'base.html' %}
{% block title %} Support {% endblock %}
{% block content %}

<h2><p style="text-align:center;color: aliceblue">Support</p></h2>

    <img src="/static/images/help.png" class="rounded mx-auto d-block" alt="...">


<form method="post" style="width: 50%; margin-left:300px; margin-top: 20px;">
     <input type="text" class="form-control mb-3 mt3" placeholder="Subject">
      <input type="text" class="form-control" placeholder="Question">
      <button type="button" class="btn btn-danger mt-3">Send</button>

<p style="margin-left:40em">ㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤ</p>ㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤ

{% endblock %}
