body{
    background-color: #000000;
}

h1{
    color: aliceblue;
}

h2{
    color: aliceblue;
}



.info {
    color: chartreuse;
    font-width: bold;

}

.error {
    color: crimson;
    font-width: bold;
}
