{% extends 'base.html' %}

{% block title %} user accaunt {% endblock %}


{% block content %}

    <h1> <p style="text-align: center; color: aliceblue;">Hello {{ my_name }}</p> </h1>


<img src=/static/images/cute.png class="rounded float-start" alt="...">
<img src=/static/images/cutebutevil.png class="rounded float-end" alt="...">

<p style="margin-left:40em">ㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤ</p>

<h3><p style="color: aliceblue; text-align: center">Remember, it's just a game. Don't be tilted!
</p></h3>



{% endblock %}

